
.transaction{
    margin-top: 50px;
    
}
.transaction-content{
    background-color:#e6e8ed ;
    border-radius: 0.5em;
    padding: 0.9em;
    margin:10px 0px;
}

.transaction-tab {
    margin-top: 3%;
}
.transaction-tab .nav-tabs{
    padding: 15px 0px;
}
.transaction-tab  .nav-item{
    min-width: 100px;
}
.transaction-tab h6.section-title{
    color: #eee;
}
.transaction-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent var(--primary);
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary)
}
.transaction-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 16px;
    font-weight: 600;
}
.transaction-tab .nav-link:hover {
    border: none;
    color: var(--primary)
}
.transaction-tab thead, tfoot{
    background: #f3f3f3;
    color: #333;
}
.transaction-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.transaction-tab tfoot tr {
    border: solid 2px
}