
.logo-img{
  filter: brightness(0) invert(1);
  /* or to blue */
}
.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown.open > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
  color: #777;
  line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
}	
.navbar .dropdown-menu li:hover {
 background-color: var(--primary);
}
.navbar .dropdown-menu .dropdown-item{
 padding: 0.45rem 1.5rem;
 font-weight: 600;
 
 }
.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.nav img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -6px 0;
  float: left;
  margin-right: 10px;
  margin-left: -10px;
}

.btn.btn-rounded {
  border-radius: 50px;
  background-color: white;
  color: var(--primary)
}  

.user-action{
  font-weight: 600;
  text-transform: uppercase;
}
