@@ -0,0 +1,87 @@
.filter-items > div {
  margin: 20px 0px;
}
.filter-items h6{
  font-weight: bold !important;
}
.green-label{
  background-color: #defadb;
  color: #48b83e;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 3px;
}
.wrapper{
  padding: 30px;
  max-width: 1600px;
  margin: auto;
}
.hidden {
  visibility: hidden;
}

.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  // z-index: 1000;
  background-color:rgba(0,0,0,0.5);
  top: 0;
  z-index: 1109;
}

.popup-spinner{
  margin-top: 15%;
  top: 0;
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1110;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: orange;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}